.head{
    border-radius: 8px;
    border: 2px solid black;
    margin: 60px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.content{
    border-radius: 8px;
    border: 2px solid black;
    margin: 60px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 7px;
}

.centreform{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}